<?xml version="1.0"?>
<launch>

  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="use_gui" default="false"/>

  <arg name="use_sim_time" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="rviz_conf" default="$(find kuka_description)/config/rviz/kuka_world.rviz"/>

  <!-- Launch gazebo empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>

  <!-- load URDF -->
  <include file="$(find kuka_description)/launch/training_table.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="camera" args="0.000 -0.020 0.000 0.000 0.000 0.000 1.000 /camera_link /hokuyo_link  100"/>

  <!-- spawn gazebo model -->
  <node name="kr4r600_loader" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model kuka_kr4r600" respawn="false" output="screen" />


  <!--Load Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" if="$(arg rviz)"/>

  <!--Ros Controllers-->
  <include file="$(find kuka_gazebo)/launch/controller_utils.launch" >
    <arg name="use_gui" value="$(arg use_gui)"/>
  </include>


</launch>