<?xml version="1.0"?>
<launch>
<!--KUKA KR 4 parameters files -->
  <!-- <arg name="transmission_hw_interface" default="hardware_interface/EffortJointInterface" /> -->
  <!-- <arg name="kinematics_config" default="$(find kuka_kr4_moveit)/config/kuka_default.yaml"/> -->

  <param name="robot_description" command="$(find xacro)/xacro '$(find kuka_description)/urdf/training_table.urdf.xacro'" />

</launch>