<?xml version="1.0"?>
<!-- <robot name="kuka_kr4r600" xmlns:xacro="http://wiki.ros.org/xacro"> -->
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="kuka_kr4r600" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <xacro:include filename="$(find kuka_description)/urdf/common.gazebo.xacro" />


  <!-- kuka_kr4r600 robot arm -->
  <xacro:include filename="$(find kuka_description)/urdf/kr4r600_macro.urdf.xacro"/>
<!-- legal values:
     - hardware_interface/PositionJointInterface
     - hardware_interface/VelocityJointInterface
     - hardware_interface/EffortJointInterface
-->

  <xacro:kuka_kr4r600 prefix="" transmission_hw_interface="$(arg transmission_hw_interface)"/>


  <link name="world" />
  <xacro:include filename="$(find kuka_description)/urdf/table.urdf.xacro"/>

<!-- attach the table to the world-->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "table_top_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

<!-- attach the robot to the box -->
  <joint name="box_joint" type="fixed">
    <parent link="table_top_link"/>
    <child link="base_link"/>
    <origin xyz="1.0 0.0 0.8" rpy="0 0 0" />
  </joint>

</robot>